name: CI - Humor API

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Verificar TypeScript
        run: npm run build

      - name: Rodar testes (se existir)
        run: npm test
        continue-on-error: true  # evita quebra do pipeline se não tiver testes

      - name: Finalizado!
        run: echo "Pipeline executado com sucesso!"